:root {
  --accent-color: #03a9f4;
  --main-color: #626262;
  --add-color: #b4ad9e;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  color: var(--main-color);
}

.container {
  width: 936px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 70px;
  padding-bottom: 90px;
}

.navigation-list {
  display: flex;
  justify-content: center;
}

.navigation-item + .navigation-item {
  margin-left: 100px;
}

.navigation-link {
  color: #7d7d7d;
  font-family: Playfair Display;
  font-size: 14px;
}

.gallery {
  padding-bottom: 65px;
}

.gallery-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.gallery-item {
  width: 420px;
}

.gallery-item:nth-child(-n + 4) {
  margin-bottom: 130px;
}

.gallery-item:nth-child(2n) {
  margin-left: 65px;
}

.gallery-title {
  color: var(--main-color);
  font-family: Playfair Display;
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 400;
}

.gallery-img {
  margin-bottom: 62px;
}

.gallery-item:nth-child(n + 3) .gallery-img {
  margin-bottom: 32px;
}

.gallery-info {
  color: var(--add-color);
  font-family: Ubuntu;
  font-size: 14px;
  margin-bottom: 32px;
  font-weight: 300;
}

.gallery-btn {
  padding: 20px 49px;
  color: var(--main-color);
  font-family: Playfair Display;
  font-size: 14px;
  margin: 0 auto;
  display: flex;
}
